body{
	margin: 0 auto;
}

body h1,p {
	color:#465594;
}

#title{
	font-size: 14px;
	
}

#bold{
	font-weight: bold;
	font-size: 14px;
	

}

#size14{
	font-size: 14px;
	

}

#size11{
	font-size: 11px;

}

#bold11{
	font-weight: bolder;
	font-size: 11px;

}

.col-md-4 h1 {
   font-weight: normal;
   
}

.btn{
	border-radius: 4px;
}

img{
	width: 100%;
	height:100%;
}

.btn_custom {
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 14px;
	text-align: center;
	border: 1px solid transparent;
}

.btn_custom:hover {
	border-radius: 4px;
	padding: 6px 12px;
	font-size: 14px;
	text-align: center;
	border: 1px solid transparent;
	background-color: #d9534f;
}
.carousel-inner{
	height: 645px;
}